Checks: '-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  misc-*,
  performance-*,
  readability-*, -readability-named-parameter, -readability-isolate-declaration, -readability-braces-around-statements, -readability-implicit-bool-conversion
'
# CheckOptions:
#     - key: bugprone-argument-comment.StrictMode
#       value: 1
#     - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
#       value: 1
FormatStyle: 'file'
